/* RESET */

:root {
  font-family: var(--fontFamily);
  font-size: var(--fontSize);
  line-height: 1.5em;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.feather {
  display: block;
  height: 1lh;
  aspect-ratio: 1 / 1;
  margin: auto;
  stroke: currentColor;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

/* COLORS */

@media (prefers-color-scheme: light) {
  :root {
    color: var(--uchu-yin);
    background-color: #fafafa;
  }
  input[type=range] {
    &::-webkit-slider-thumb {
      background: white;
      box-shadow: 0 1px 3px rgba(128, 128, 128, 0.378);
    }
    &::-webkit-slider-thumb:hover {
      filter: brightness(97%);
    }
    &::-webkit-slider-runnable-track {
      background: var(--uchu-yin-1);
    }
  }
  input[type=number], input[type=text], textarea {
    border: 1px solid var(--uchu-gray-4);
    background-color: white;
    color: var(--uchu-yin);
    &:focus {
      outline: 2px solid color-mix(in oklab, var(--uchu-blue-3), transparent);
    }
  }
  button,
  label:has(input[type='checkbox'].button) {
    border: 1px solid var(--uchu-gray-4);
    background-color: white;
    color: var(--uchu-yin);
    box-shadow: 0 1px 3px rgba(128, 128, 128, 0.378);
    &:not([disabled]):hover {
      filter: brightness(97%);
    }
    &:has(input[type='checkbox'].button:checked) {
      background-color: var(--uchu-green-1);
    }
  }
  button[disabled] {
    background-color: var(--uchu-gray-1);
    color: var(--uchu-gray-9);
  }
  h5 {
    color: var(--uchu-yin-6);
    border-bottom: 1px solid var(--uchu-yin-2);
  }
  hr {
    border-bottom: 1px solid var(--uchu-yin-2);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--uchu-yang);
    background-color: var(--uchu-yin-9);
  }
  input[type=range] {
    &::-webkit-slider-thumb {
      background-color: var(--uchu-gray-7);
      box-shadow: 0 1px 3px rgba(128, 128, 128, 0.378);
    }
    &::-webkit-slider-thumb:hover {
      filter: brightness(110%);
    }
    &::-webkit-slider-runnable-track {
      background: var(--uchu-yin-7);
    }
  }
  input[type=number], input[type=text], textarea {
    /* border: 1px solid var(--uchu-yin-7); */
    border: none;
    background-color: var(--uchu-yin-8);
    color: var(--uchu-yang);
    &:focus {
      outline: 2px solid color-mix(in oklab, var(--uchu-blue-8), transparent 40%);
    }
  }
  button,
  label:has(input[type='checkbox'].button) {
    border: none;
    background-color: var(--uchu-yin-7);
    color: var(--uchu-yang);
    box-shadow: 0 1px 3px rgba(128, 128, 128, 0.378);
    &:focus {
      outline: none;
    }
    &:not([disabled]):hover {
      filter: brightness(110%);
    }
    &:has(input[type='checkbox'].button:checked) {
      background-color: var(--uchu-green-9);
    }
  }
  button[disabled] {
    background-color: var(--uchu-yin-8);
    color: var(--uchu-gray-9);
    box-shadow: none;
  }
  h5 {
    color: var(--uchu-yin-3);
    border-bottom: 1px solid var(--uchu-yin-7);
  }
  hr {
    border-bottom: 1px solid var(--uchu-yin-7);
  }
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  cursor: default;
  user-select: none; -webkit-user-select: none;
  -moz-user-select: none; -ms-user-select: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* WIDGETS */

fieldset {
  border: none;
}

label {
  font-size: 90%;
  line-height: normal;
}

input {
  font-size: 0.85rem;
}

input[type='number'],
input[type='text'] {
  border-radius: 2px;
  padding: 2px 3px;
}

input[type='checkbox'].button {
  display: none;
  width: 0;
  height: 0;
}

button,
label:has(input[type='checkbox'].button) {
  appearance: none;
  display: inline-block;
  
  border: none;
  border-radius: 3px;
  padding: 3px 5px;
  margin: 1px;

  text-align: center;
  text-decoration: none;
  font-family: var(--fontFamily);
  font-size: 0.85rem;
  line-height: normal;
}

button.left {
  border-radius: 3px 0 0 3px;
  margin-right: 0;
  border-right: none;
  text-align: right;
}

button.middle {
  border-radius: 0;
  border-right: none;
  margin-left: 0;
  margin-right: 0;
}

button.right {
  border-radius: 0 3px 3px 0;
  margin-left: 0;
  text-align: left;
}

select {
  /* currently useless */
  font-size: 1rem;
  font-family: var(--fontFamily);
}

textarea {
  font-family: var(--fontFamily);
  font-size: 1rem;
  border-radius: 3px;
  padding: 3px 5px;
  margin: 1px;
}

input[type=range] {
  appearance: none;
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 14px;
    margin-top: -1px;
    width: 16px;
    border-radius: 2px;
    cursor: pointer;
  }

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    border-radius: 2px;
  }

  &:focus {
    outline: none;
  }
}

/* HEADER */

h5 {
  margin: 0 1px 3px 1px;
  padding-top: 6px;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: start;
}

hr {
  border-top: none;
  border-left: none;
  border-right: none;
}

/* CONFIG TABLE */

table.config {
  width: 100%;
}

table.config td:first-child {
  vertical-align: top;
  text-align: right;
  padding-right: 5px;
  font-size: 90%;
  /* text-transform: uppercase; */
  /* font-weight: bold; */
}

/* CLASSES */

.isolated {
  contain: layout size style;
}

.vlayout {
  display: flex;
  flex-direction: column;
}
.vlayout > div {
  width: 100%;
}

.hlayout {
  display: flex;
  flex-direction: row;
}
.hlayout > div {
  height: 100%;
}

.flexgrow {
  flex: 1 0;
}
.flexshrink {
  flex: 0 1;
}

.fill {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
}