:root {
  font-family: var(--fontFamily);
  font-size: var(--fontSize);
  line-height: 1.5em;
  font-weight: 400;

  color: var(--uchu-yin);
  background-color: var(--uchu-yang);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

fieldset {
  border: none;
}

input[type='checkbox'].button {
  display: none;
  width: 0;
  height: 0;
}

label {
  font-size: 90%;
  line-height: normal;
}

button,
label:has(input[type='checkbox'].button) {
  appearance: none;
  background-color: white;
  display: inline-block;
  
  box-shadow: 0 1px 3px rgba(128, 128, 128, 0.378);
  border: none;
  border-radius: 3px;
  padding: 3px 5px;
  margin: 1px;

  text-align: center;
  text-decoration: none;
  font-family: var(--fontFamily);
  font-size: 0.8rem;
  padding-block-start: 2px;
  padding-block-end: 3px;
  padding-inline-start: 6px;
  line-height: normal;

  &:not([disabled]):hover {
    filter: brightness(97%);
  }

  &:has(input[type='checkbox'].button:checked) {
    background-color: var(--uchu-green-1);
  }
}

button[disabled] {
  background-color: var(--uchu-gray-1);
  color: var(--uchu-gray-9);
}

button.left {
  border-radius: 3px 0 0 3px;
  margin-right: 0;
  border-right: none;
  text-align: right;
}

button.middle {
  border-radius: 0;
  border-right: none;
  margin-left: 0;
  margin-right: 0;
}

button.right {
  border-radius: 0 3px 3px 0;
  margin-left: 0;
  text-align: left;
}

input {
  font-size: 0.8rem;
}

select {
  font-size: 1rem;
  font-family: var(--fontFamily);
}

textarea {
  font-family: var(--fontFamily);
  font-size: 1rem;
  box-shadow: 0 1px 3px rgba(128, 128, 128, 0.378);
  border: none;
  border-radius: 3px;
  padding: 3px 5px;
  margin: 1px;
}

input[type=range] {
  appearance: none;
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 14px;
    margin-top: -1px;
    width: 16px;
    border-radius: 2px;
    background: white;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(128, 128, 128, 0.378);
  }

  &::-webkit-slider-thumb:hover {
    filter: brightness(97%);
  }

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    background: var(--uchu-yin-1);
    border-radius: 2px;
  }

  &:focus {
    outline: none;
  }
}

h5 {
  margin: 0 1px 3px 1px;
  padding-top: 6px;
  color: var(--uchu-yin-6);
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid gray;
  text-align: start;
}

ul.menu {
  flex: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: gray;
  display: flex;
  align-items: center;
  cursor: default;
  user-select: none; -webkit-user-select: none;
  -moz-user-select: none; -ms-user-select: none;
}

ul.menu li {
  float: left;
  flex: none;
}

ul.menu button {
  font-size: 1rem;
  display: block;
  color: white;
  min-width: max-content;
  background-color: transparent;
  border: none;
  border-radius: 0;
  text-align: center;
  padding: 10px 15px 10px;
  text-decoration: none;
}

ul.menu button:hover {
  background-color: darkgray !important;
}

ul.menu button[disabled] {
  background-color: transparent;
  color: gainsboro;
}

ul.menu .label {
  display: block;
  color: rgb(226, 223, 223);
  background-color: transparent;
  border: none;
  text-align: start;
  flex-grow: 1;
  height: 100%;
  text-decoration: none;
  padding: 0 10px 0 10px;
}

ul.menu .separator {
  width: 1px;
  min-height: 30px;
  display: block;
  margin: 0 10px;
  background-color: rgb(193, 193, 193);
}

table.config {
  width: 100%;
}

table.config td:first-child {
  vertical-align: top;
  text-align: right;
  padding-right: 5px;
  font-size: 90%;
  /* text-transform: uppercase; */
  /* font-weight: bold; */
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  cursor: default;
  user-select: none; -webkit-user-select: none;
  -moz-user-select: none; -ms-user-select: none;
}

h2 {
  padding: 0;
}

.container {
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  max-height: 100vh;
  box-sizing: border-box;
}

.isolated {
  contain: layout size style;
}

.styleselect {
  padding: 3px;
  height: 100%;
  /* background-color: white; */
  box-sizing: border-box;
}

.vlayout {
  display: flex;
  flex-direction: column;
}
.vlayout > div {
  width: 100%;
}

.hlayout {
  display: flex;
  flex-direction: row;
}
.hlayout > div {
  height: 100%;
}

.flexgrow {
  flex: 1 0;
}
.flexshrink {
  flex: 0 1;
}

.fill {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
}

.fixminheight {
  min-height: 0;
  min-width: 0;
}

.scrollable {
  max-height: 100%;
  text-align: start;
  box-sizing: border-box;
  /* overflow-x: hidden; */
  overflow-y: auto;
}

hr {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--uchu-yin-2);
  /* border-radius: 0.5px; */
}

/* .label-red    { background-color: var(--uchu-red-2); }
.label-orange { background-color: var(--uchu-orange-2); }
.label-yellow { background-color: var(--uchu-yellow-2); }
.label-green  { background-color: var(--uchu-green-2); }
.label-blue   { background-color: var(--uchu-blue-2); }
.label-purple { background-color: var(--uchu-purple-2); } */